dataframe中根据index和列名称读取某个值

In [13]:
import pandas as pd
import numpy as np
df=pd.DataFrame(
    {
        'a':range(100),
        'b':np.random.rand(100),
        'c':[1,2,3,4]*25,  #重复25次  注意是逗号结尾
        'd':['apple', 'banana', 'carrot']*33 + ['apple']
    }
)

index = 0  #
col = 'd'
print(f'index={index}, col={col} : {df.at[index, col]}')
index = 2
col = 'd'
print(f'index={index}, col={col} : {df.at[index, col]}')
index = 4
col = 'd'
print(f'index={index}, col={col} : {df.at[index, col]}')
index = 33
col = 'c'
print(f'index={index}, col={col} : {df.at[index, col]}')
#print( col = 'c')

index=0, col=d : apple
index=2, col=d : carrot
index=4, col=d : banana
index=33, col=c : 2

In [9]:
df.describe() #获取dataframe每列的基本描述统计

                a           b           c
count  100.000000  100.000000  100.000000
mean    49.500000    0.523660    2.500000
std     29.011492    0.274566    1.123666
min      0.000000    0.020949    1.000000
25%     24.750000    0.322220    1.750000
50%     49.500000    0.517189    2.500000
75%     74.250000    0.713239    3.250000
max     99.000000    0.986836    4.000000

检查dataframe是否有缺失值

In [15]:
df = pd.DataFrame({
    'a':[1.2,3,3,4],
    'b':list('abcd')   #检查数组中是否有nan的值
})

print('缺失:', df.isnull().values.any())
df.iat[0,0] = np.nan
print('缺失:', df.isnull().values.any())

缺失: False
缺失: True

统计dataframe中每列缺失值的数量

In [17]:
df.apply(lambda x: x.isnull().sum(),axis=1)  #df.isnull().sum().sum()   全部的数据的空值数量 默认为每一列 加了参数就变成了一行

0    1
1    0
2    0
3    0
dtype: int64

可以这样认为,lambda作为一个表达式，定义了一个匿名函数，
上例的代码x为入口参数，x+1为函数体，用函数来表示为：

dataframe如何改变列的顺序

In [20]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df.head()

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [21]:
df[list('cbdae')]  #通过List改变序列

    c   b   d   a   e
0   2   1   3   0   4
1   7   6   8   5   9
2  12  11  13  10  14
3  17  16  18  15  19

设置dataframe输出的行数和列数

In [22]:
pd.set_option('display.max_columns', 4) #之前已经学过
pd.set_option('display.max_rows', 4)  #显示的时候的4行5列 
# 设置之后
df

    a   b ...   d   e
0   0   1 ...   3   4
1   5   6 ...   8   9
2  10  11 ...  13  14
3  15  16 ...  18  19

[4 rows x 5 columns]

In [23]:
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

In [24]:
pd.DataFrame(np.random.random(4)**10, columns=['random'])

         random
0  3.729736e-05
1  1.448680e-01
2  2.518679e-07
3  5.148118e-10

In [25]:
pd.set_option('display.float_format', lambda x: '%.4f' % x)
pd.DataFrame(np.random.random(4)**10, columns=['random'])

   random
0  0.0000
1  0.0002
2  0.0083
3  0.2178

设置dataframe输出时不使用科学记数法

In [26]:
# 恢复默认值
pd.set_option('display.float_format', None)
pd.DataFrame(np.random.random(4)**10, columns=['random'])

     random
0  0.033385
1  0.000002
2  0.008092
3  0.000400

In [27]:
# 恢复默认值
pd.set_option('display.float_format', None)
pd.DataFrame(np.random.random(4)**10, columns=['random'])

         random
0  9.148637e-04
1  1.458161e-07
2  2.058159e-14
3  5.815425e-05